<%page expression_filter="h" args="section_data"/>

<%!
from django.utils.encoding import escape_uri_path
from django.utils.translation import ugettext as _

from openedx.core.djangolib.markup import HTML, Text
%>

<div>
<style>
    #svgPlots .axis path,
    #svgPlots .axis line{
      fill: none;
      stroke: grey;
      opacity: 0.2;
      stroke-dasharray: 2;
    }

    #svgPlots .line{
      fill: none;
      stroke: blue;
      stroke-width: 2px;
    }

    #svgPlots .tick text{
      font-size: 12px;
    }

    #svgPlots .tick line{
      stroke: grey;
      opacity: 0.2;
      stroke-dasharray: 2;
    }
</style>
<div id="svgPlots"></div>
<script>
    console.log(d3);

    var xDomain = [25, 25, 6, 6, 25, 25];
    var minYDomain = [0, 15, 0, 3.3, 0.0, 0.0];
    var yDomain = [40, 35, 4, 3.9, 1.0, 0.7];

    var numberOfXTicks = [6, 6, 7, 7, 6, 6];
    var numberOfYTicks = [5, 5, 5, 7, 3, 7];

    var yAxisLabel = ["t (sec)", "t (sec)", "t (sec)", "t (sec)", "Tocnost", "Tocnost"];
    var title = [
      "Vrijeme odgovora", 
      "Prosjecno vrijeme odgovora", 
      "Vrijeme bonus reakcije", 
      "Prosjecno vrijeme bonus reakcije",
      "Tocnost odgovora",
      "Tocnost"];

    var dotsColor = ["#00BFFF", "#FF7F50", "#00BFFF", "#FF7F50", "#00BFFF", "#FF7F50"];

    var dataset = [
      [{x: 1, y: 30},
      {x: 2, y: 11},
      {x: 3, y: 11},
      {x: 4, y: 18},
      {x: 5, y: 4},
      {x: 6, y: 11},
      {x: 7, y: 6},
      {x: 8, y: 3},
      {x: 9, y: 9},
      {x: 10, y: 18},
      {x: 11, y: 16},
      {x: 12, y: 9},
      {x: 13, y: 31},
      {x: 14, y: 8},
      {x: 15, y: 16},
      {x: 16, y: 6},
      {x: 17, y: 19},
      {x: 18, y: 9},
      {x: 19, y: 8},
      {x: 20, y: 10},
      {x: 21, y: 8},
      {x: 22, y: 17},
      {x: 23, y: 16}],
      [
        {x: 1, y: 30},
        {x: 2, y: 29.5},
        {x: 3, y: 29},
        {x: 4, y: 28.5},
        {x: 5, y: 26},
        {x: 6, y: 25.5},
        {x: 7, y: 25},
        {x: 8, y: 24},
        {x: 9, y: 23},
        {x: 10, y: 22.5},
        {x: 11, y: 22},
        {x: 12, y: 21},
        {x: 13, y: 21.5},
        {x: 14, y: 21},
        {x: 15, y: 20.8},
        {x: 16, y: 20},
        {x: 17, y: 20},
        {x: 18, y: 19.8},
        {x: 19, y: 19.5},
        {x: 20, y: 19},
        {x: 21, y: 18},
        {x: 22, y: 18},
        {x: 23, y: 18}
      ],
      [ {x: 1, y: 3.9},
        {x: 2, y: 1.8},
        {x: 3, y: 1.3},
        {x: 4, y: 1.4},
        {x: 5, y: 1.4},
        {x: 6, y: 1.5}
      ],
      [
        {x: 1, y: 3.89},
        {x: 2, y: 3.79},
        {x: 3, y: 3.63},
        {x: 4, y: 3.53},
        {x: 5, y: 3.47},
        {x: 6, y: 3.36}
      ],
      [
        {x: 1, y: 0.0},
        {x: 2, y: 0.0},
        {x: 3, y: 1.0},
        {x: 4, y: 1.0},
        {x: 5, y: 0.0},
        {x: 6, y: 1.0},
        {x: 7, y: 1.0},
        {x: 8, y: 1.0},
        {x: 9, y: 1.0},
        {x: 10, y: 1.0},
        {x: 11, y: 0.0},
        {x: 12, y: 1.0},
        {x: 13, y: 0.0},
        {x: 14, y: 0.0},
        {x: 15, y: 1.0},
        {x: 16, y: 1.0},
        {x: 17, y: 1.0},
        {x: 18, y: 1.0},
        {x: 19, y: 0.0},
        {x: 20, y: 1.0},
        {x: 21, y: 1.0},
        {x: 22, y: 0.0},
        {x: 23, y: 1.0},
        {x: 24, y: 1.0},
        {x: 25, y: 1.0}
      ],
      [ {x: 1, y: 0.0},
        {x: 2, y: 0.0},
        {x: 3, y: 0.05},
        {x: 4, y: 0.1},
        {x: 5, y: 0.1},
        {x: 6, y: 0.13},
        {x: 7, y: 0.18},
        {x: 8, y: 0.22},
        {x: 9, y: 0.28},
        {x: 10, y: 0.3},
        {x: 11, y: 0.29},
        {x: 12, y: 0.32},
        {x: 13, y: 0.31},
        {x: 14, y: 0.3},
        {x: 15, y: 0.32},
        {x: 16, y: 0.36},
        {x: 17, y: 0.4},
        {x: 18, y: 0.44},
        {x: 19, y: 0.41},
        {x: 20, y: 0.45},
        {x: 21, y: 0.48},
        {x: 22, y: 0.45},
        {x: 23, y: 0.48},
        {x: 24, y: 0.5},
        {x: 25, y: 0.55}
      ]
    ];


    for (i=0; i<6; i++)
    {
      makePlot(xDomain[i], yDomain[i], minYDomain[i], numberOfXTicks[i], numberOfYTicks[i], yAxisLabel[i], title[i], dotsColor[i], dataset[i]);
    }


    function makePlot(xDomain, yDomain, minYDomain, numberOfXTicks, numberOfYTicks, yAxisLabel, title, dotsColor, dataset) {

      var margin = {top: 50, right: 50, bottom: 50, left: 50};
      var width = 500 - margin.left - margin.right;
      var height = 250 - margin.top - margin.bottom;

      var xScale = d3.scale.linear()
        .domain([0, xDomain])
        .range([0, width]);

      var yScale = d3.scale.linear()
        .domain([minYDomain, yDomain])
        .range([height, 0]);

      var xAxis = d3.svg.axis()
        .scale(xScale)
        .orient("bottom")
        .tickSize(-height,0)
        .tickPadding(10)
        .ticks(numberOfXTicks);

      var yAxis = d3.svg.axis()
        .scale(yScale)
        .orient("left")
        .tickSize(-width,0)
        .tickPadding(10)
        .ticks(numberOfYTicks);

      var svg = d3.select("#svgPlots").append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
        .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis)

      svg.append("g")
        .attr("class", "y axis")
        .call(yAxis)

      svg.append("text")
        .attr("x", width/2 )
        .attr("y", height + margin.bottom - 10)
        .style("text-anchor", "middle")
        .text("Pitanje<");

      svg.append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 0 - margin.left)
        .attr("x", 0 - (height / 2))
        .attr("dy", "1em")
        .style("text-anchor", "middle")
        .text(yAxisLabel);

      svg.append("text")
        .attr("x", (width / 2))             
        .attr("y", 0 - (margin.top / 2))
        .attr("text-anchor", "middle") 
        .text(title);

      var dots = svg.selectAll("circle")
        .data(dataset)
        .enter()
        .append("circle")
        .attr("cx", function(d) {
          return xScale(d.x);
        })
        .attr("cy", function(d) {
          return yScale(d.y);
        })
        .attr("r", 2.5)
        .attr("fill", dotsColor);

    }
</script>
</div>
